/*
   Fulla d'estils per el formulari.
   Cobreix bàsicament la presentacio en desktop i mobile pero s'hauria d'adaptar una mica segons el destí.
*/




/* Movile */

.cntConfirmacio{
    background:lightgrey;
    margin: 0 0 0 0;
    padding: 2em;
    text-align: center;
    font-size: .5em;
}
.cntConfirmacio a{
    font-size: 1.6em;
}

.cntForm{
    display: flex;
    flex-direction: column;
    background:gray;
    padding:.5em;
    color:white;
}

.interaccioUsuari{
    text-align: center;
    color: black;
    font-size: 1.4em;
    margin-top: 10px;

}

.cntForm .formulari_venta_article label{
    margin: 0.5em 0.6em 0.1em 0.5em;

}

.cntForm .formulari_venta_article{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1em;
    flex: 1;
    align-items: center;
}

.butonsLine label{
    text-align: center;
}
.butonsLine input{
    width: 80%;
    margin: .5em 0em .5em 0em;
}


.cntForm .formulari_venta_article .cntArticle{
    display: flex;
    flex-direction: column;
    background:lightgray;
    color: initial;
    margin-top: .5em;
    padding: .5em .5em .5em .5em;
    border-radius: 5px;
}

.cntForm .formulari_venta_article .firstLine{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.cntForm .formulari_venta_article .cntBotons{
    display: flex;
    flex-direction: column;
}

.cntBotons .butonsLine{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: .5em;
    width: 100%;
}

.cntBotons .infoLine{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: .5em;
    width: 100%;
}

.cntForm .formulari_venta_article input{
    border-radius: 5px;
    border: 0;
    padding: 5px 5px 5px 5px;
}

.cntForm .formulari_venta_article .id_producte,
.cntForm .formulari_venta_article .preu_unitat
{
    -webkit-appearance: textfield;
    width: 90%;
    text-align: center;
}

.cntForm .formulari_venta_article .data_venta,
.cntForm .formulari_venta_article .numero_productes{

    text-align: center;
}

.cntForm .formulari_venta_article .firstLine .numero_productes{
    text-align: center;
    width: 90%;
}

.btnBorrarArticle{
    display: none;
    height: 1.5em;
    background:white;
    width: 2em;
    margin: 0em 0em 0em -3em;
    position: absolute;
    border-radius: 5px 5px 5px 5px;
}

.cntBotons p{
    text-align: center;
}

.titulForm{

    text-align: center;
}

/* Desktop */

@media (min-width: 1100px){

    .cntForm{
        background:gray;
        display: flex;
        width: 100%;
        padding: 0em 0em 0em 0em;
    }

    .cntForm .formulari_venta_article label{
        margin: 0em 0.6em 0em 1em;
    }

    .cntForm .formulari_venta_article .cntArticle{
        display: flex;
        background:lightgray;
        padding: .5em .5em .5em .5em;
        margin-bottom: 5px;
        border-radius: 5px;
    }

    .cntForm .formulari_venta_article{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 1em;
        flex: 1;
        align-items: center;
    }

    .cntForm .formulari_venta_article .firstLine{
        align-items: center;
        flex-direction: row;
    }


    .titulForm{
        margin-top: 1em;
        font-size: 1.5em;
        text-align: center;
    }


    .cntForm .formulari_venta_article .id_producte,
    .cntForm .formulari_venta_article .preu_unitat
    {
        width: 6em;
    }
    .cntForm .formulari_venta_article label{
        margin: 0em 0.6em 0em 1em;

    }

    .cntForm .formulari_venta_article .cntBotons{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 60%;
    }

    .cntForm .formulari_venta_article .data_venta,
    .cntForm .formulari_venta_article .numero_productes{
        width: 10em;
        text-align: center;
    }

    .cntForm .formulari_venta_article .firstLine .numero_productes{
        width: 4em;
    }

}


